<%= form_tag users_path do %>
  <p>Name: <%= text_field_tag :name, @user.name %></p>
  <p>Street: <%= text_field_tag :street, @addresses.street %></p>
  <p>City: <%= text_field_tag :city, @addresses.city %></p>
  <p>State: <%= text_field_tag :state, @addresses.state %></p>
  <p>Zip: <%= text_field_tag :zip, @addresses.zip %></p>
  <p>Email: <%= text_field_tag :email %></p>
  <%= render partial: 'partials/user_password_template' %>
  <p><%= submit_tag "Create User" %></p>
<%end %>
